<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8">
    <script src="socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<script>
    var socket = io(window.location.origin);
    socket.on("server-chat",(obj)=>{
        console.log(socket.id)
        if(socket.id == obj.id){
        var content =  `<div class="d-flex justify-content-end mb-4">`
            content +=  `<div class="msg_cotainer_send"><b>${obj.name}</b> -> ${obj.data}</div>`
            content +=    `<div class="img_cont_msg">`
            content +=      `<img class="rounded-circle user_img_msg">`
            content +=    `</div>`
            content += `</div>`
            content += `</div>`
        $(".msg_card_body").append(content)
        }else{
            var content = `<div class="d-flex justify-content-start mb-4"><div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img class="rounded-circle user_img_msg"></div><div class="msg_cotainer"><b>${obj.name}</b> -> ${obj.data}</div></div></div>`
            $(".msg_card_body").append(content)
        }

        
    })
    $(document).ready(function(){
        var name = prompt("Nhập tên đi", "");
        $('#action_menu_btn').click(function(){
            $('.action_menu').toggle();
        });
        $(".send_btn").click(function (e) { 
            $('.msg_card_body').animate({scrollTop: 5000});
            var msg = $(".type_msg").val();
            if(msg == "" ){
            
            }else if(name == null || name == ""){
                alert("Chưa nhập tên sao chat ??");
            }else{
                var obj = {
                name : name,
                data : msg,
                id : socket.id
            }
                socket.emit("client-chat",obj);
                $(".type_msg").val('');
            }
            

        });
	});
    </script>
    <div class="container-fluid h-500">
        <div class="row justify-content-center h-500">
            <div class="col-md-20 col-xl-6 chat">
                <div class="card">
                    <div class="card-header msg_head">
                        <div class="d-flex bd-highlight">
                            <div class="img_cont">
                                <img class="rounded-circle user_img">
                            </div>
                            <div class="user_info">
                                <span>Chat with someone</span>
                            </div>
                            <div class="video_cam">
                                <span><i class="fas fa-video"></i></span>
                                <span><i class="fas fa-phone"></i></span>
                            </div>
                        </div>
                        <span id="action_menu_btn"><i class="fas fa-ellipsis-v"></i></span>
                        <div class="action_menu">
                            <ul>
                                <li><i class="fas fa-user-circle"></i> View profile</li>
                                <li><i class="fas fa-users"></i> Add to close friends</li>
                                <li><i class="fas fa-plus"></i> Add to group</li>
                                <li><i class="fas fa-ban"></i> Block</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-body msg_card_body">
                        
                    </div>
                    <div class="card-footer">
                        <div class="input-group">
                            <div class="input-group-append">
                                <span class="input-group-text attach_btn"><i class="fas fa-paperclip"></i></span>
                            </div>
                            <textarea name="" class="form-control type_msg" placeholder="Type your message..."></textarea>
                            <div class="input-group-append">
                                <span class="input-group-text send_btn">Send</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>